@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-danger">Welcome!</h1>
    <p class="text-danger">
        Welcome to SansCorp, where innovation meets excellence! As a dynamic force in the industry, we pride ourselves on transforming ideas into reality, redefining standards, and delivering solutions that transcend expectations.

        At SansCorp, we are more than just a company; we are a collective of visionaries, creators, and problem-solvers dedicated to crafting a future where possibilities are limitless. With a commitment to innovation and a passion for pushing boundaries, we strive to create products and services that not only meet the needs of today but also anticipate the demands of tomorrow.

        Our journey is marked by a relentless pursuit of excellence, fueled by a culture that fosters creativity, embraces diversity, and values every individual's contribution. From cutting-edge technologies to sustainable practices, we are at the forefront of shaping industries and making a positive impact on the world.

        Join us on this exciting adventure as we continue to break new ground, inspire change, and build a legacy of success. At SansCorp, the future is now, and we invite you to be a part of it. Welcome to a world where innovation knows no bounds!.
    </p>
    <p class="text-danger">User Id : @ViewData["UserID"]</p>
</div>
